div.response-search {
    margin: 3rem 0;
    text-align: center;
    font-size: 2rem;
    @include mq-tablet {
        font-size: 3rem;
    }
}

div.container-movies {
    display: grid;
    justify-content: center;
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    @include mq-tablet {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    @include mq-desktop {
        grid-template-columns: repeat(4, 1fr);
    }
    @include mq-desktop-large {
        grid-template-columns: repeat(5, 1fr);
    }
    .movie {
        padding: 1rem;
        border-radius: 1.5rem;
        transition: background-color 1s ease;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            background-color: #ffffff28;
        }
        &:hover {
            .img-movie .view-more {
                display: initial;
            }
        }
        .img-movie {
            position: relative;
            img {
                width: 170px;
                max-height: 250px;
                border-radius: 1.5rem;
            }
            .view-more {
                display: none;
                position: absolute;
                top: 120px;
                left: 55px;
                border: none;
                cursor: pointer;
                background: transparent;
                i {
                    color: $primary-color;
                    font-size: 4rem;
                }
            }
        }
        .text {
            .title {
                width: 15rem;
                p {
                    font-weight: 700;
                    margin: .5rem;
                }
            }
            .year {
                .type {
                    padding: 3px;
                    background-color: $primary-color;
                    border-radius: 10px;
                }
            }
        }
    }
}