div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    .form-login {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border-radius: 1rem;
        input {
            color: #ffffff;
            border-radius: 1rem;
            padding: 1rem;
            margin: 1rem 0;
        }
        input.name-user,
        input.pass-user {
            border: 2px solid $primary-color;
            background-color: #1c22309b;
        }
        .login {
            border: none;
            background-color: $primary-color;
            transition: background-color .5s ease;
            cursor: pointer;
            &:hover {
                background-color: #ed3355b0;
            }
        }
    }
}